body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(80, 85, 80);
    color: rgb(204, 204, 204);
}



section {
    margin-block-end: 1em;
}

.formElement {
    margin-block-end: 1em;
    margin-right: 1em;
    width: 80%;
    min-width: 600px;
}

progress {
    width: 100%;
    max-width: 600px;
    height: 2em;
    -webkit-appearance: none;
    appearance: none;
    color: #fff;
    margin-block-end: 1em;
}

progress::-webkit-progress-bar {
    background-color: rgb(204, 204, 204);
}

progress::-webkit-progress-value {
    background-color: rgb(139, 55, 196);
}

#question {
    height: 4em;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 600px) {
    .formElement {
        margin-block-end: 1em;
        margin-right: 1em;
        width: 100%;
        max-width: 600px;
    }
}

button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(204, 204, 204);
    background-color: rgb(139, 55, 196);
    border: solid 2px rgb(139, 55, 196);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    border: solid 2px rgb(204, 204, 204);
    color: #fff;
}

button:active {
    transform: translateY(4px);
}