* {
    font-size: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(80, 85, 80);
    color: rgb(204, 204, 204);
}

section {
    margin-block-end: 1em;
}

progress {
    width: 100%;
    max-width: 600px;
    height: 2em;
    -webkit-appearance: none;
    appearance: none;
    color: #fff;
    margin-block-end: 1em;
}

progress::-webkit-progress-bar {
    background-color: rgb(204, 204, 204);
}

progress::-webkit-progress-value {
    background-color: rgb(139, 55, 196);
}

button {
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(204, 204, 204);
    background-color: rgb(139, 55, 196);
    border: solid 2px rgb(139, 55, 196);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    border: solid 2px rgb(204, 204, 204);
    color: #fff;
}

button:active {
    transform: translateY(4px);
}

nav {
    margin-block-start: 2em;
    margin-block-end: 1em;
    height: 2em;
}

#question {
    height: 4em;
}

nav:first-of-type a {
    margin-right: 3em;
    margin-bottom: 1em;
}

.navItem {
    width: 150px;
    color: rgb(204, 204, 204);
}

.navItem:hover {
    color: #fff;
}

.centered {
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.startFormElement {
    display: block;
    margin-block-end: 1em;
    width: 300px;
    background-color: rgb(139, 55, 196);
    color: rgb(204, 204, 204);
    border: solid 2px rgb(139, 55, 196);
    /* padding: 4px 4px; */
}

@media only screen and (max-width: 600px) {
    .formElement {
        margin-block-end: 1.2em;
        width: 100%;
        max-width: 600px;
    }
}

@media only screen and (min-width: 601px) {
    body {
        width: 600px;
        margin: auto;
    }
    .formElement {
        margin-block-end: 1.2em;
        width: 600px;
    }
}